<template name="tmp_msg_box">
    <div class="row">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-md-3">
                    <select id="ddlStatusType" class="form-control">
                        <option>Status</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <input id="tbxMsg" class="form-control"
                           type="text" placeholder="What's on your mind?"
                            />
                </div>

                <input id="btnUpdate" type="submit" class="btn btn-default col-md-3 "/>
            </div>
        </form>
    </div>
</template>